* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

div#slide {
    width:300px;
    overflow: hidden;
    margin:5rem auto 1rem;
    white-space: nowrap;
    font-size:0;
}

#slide div {
    border:1px solid black;
    height:200px;
    width: 300px;
    background:green;
    display:inline-block;
    line-height:200px;
    font-size:1rem;
    margin-left:-100%;
    transition: margin-left 1s;
}

input[type="radio"] {
    font-size:0;
    height:0;
    width:0;
    display:none;
}

#slide input[type="radio"]:checked ~ div {
    margin-left:0;
}

.nav-buttons {
    display: inline-block;
}

.nav-buttons label {
    display:inline-block;
    background: green;
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border:1px solid black;
}

.nav-buttons label:hover {
    background:lime;