* {
  box-sizing: border-box;
}

body {
  --base-delay: 0s;
  --slide-width: 30rem;
  --slide-height: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tsumirez-slider {
  border: 1px solid black;
  width: var(--slide-width);
  display: flex;
  overflow: hidden;
}

.tsumirez-slider > div {
  flex: 0 0 var(--slide-width);
  height: var(--slide-height);
  background-color: red;
  animation: example 10s linear infinite;
  text-align: center;
  order: 1;
  border-right: 1px solid black;
}

.tsumirez-slider > div:nth-of-type(2) {
  animation-delay: 2s;
}

.tsumirez-slider > div:nth-of-type(3) {
  animation-delay: 4s;
}

.tsumirez-slider > div:nth-of-type(4) {
  animation-delay: 6s;
}

.tsumirez-slider > div:nth-of-type(5) {
  animation-delay: 8s;
}

.tsumirez-slider:hover > div {
  animation-delay: -2s;
}

@keyframes example {
  0% {
    margin-left: 0;
    order: 1;
  }

  19% {
    margin-left: 0;
  }

  19.9% {
    margin-left: calc(var(--slide-width) * -1);
    order: 1;
  }

  20% {
    margin-left: 0;
    order: 5;
  }

  39.9% {
    order: 5;
  }

  40% {
    order: 4;
  }

  59.9% {
    order: 4;
  }

  60% {
    order: 3;
  }

  79.9% {
    order: 3;
  }

  80% {
    order: 2;
  }

  100% {
    order: 2;
  }
}
